<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.njk" %}
    <title>Kaluma</title>
  </head>
  <body>
    <nav class="doc-sidebar">
      <div class="doc-sidebar-header p-3 border-bottom">
        <a href="/"><img src="/images/kaluma-logo.png" width="32px"></a>
        <span class="ms-2 fw-bold">Kaluma Docs</span>
      </div>
      <aside class="doc-sidebar-nav">
        <nav class="navbar-collapse collapse collapse-horizontal show" id="docs-nav">
          <ul class="list-unstyled">
            {% for doc in collections.docs %}
              <li>
                <a href="{{doc.url}}">{{doc.data.title}}</a>
              </li>
            {% endfor %}
            <br>
            <div class="doc-section">Boards</div>
            {% for board in collections.boards %}
              <li>
                <a href="{{board.url}}">{{board.data.title}}</a>
              </li>
            {% endfor %}
            <br>
            <div class="doc-section">API</div>
            {% for api in collections.api %}
              <li>
                <a href="{{api.url}}">{{api.data.title}}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </aside>
    </nav>
    <div class="doc-body">
      <!-- <div class="text-end p-3 border-bottom"> v1.0 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#docs-nav" aria-expanded="false">=</button> </div> -->
      <main class="container d-flex justify-content-center markdown-content" style="padding-bottom: 5rem;">
        <div style="width: 100%">
          {{ content | safe }}
        </div>
      </main>
    </div>
  </body>
</html>