<div class="footer">
  <div>
    {% for page in collections.pages %}
      <a class="text-secondary text-decoration-none px-2" href="{{page.url}}" target="_blank">{{page.data.title}}</a>
    {% endfor %}
    <a class="text-secondary text-decoration-none px-2" href="/docs">Docs</a>
    <a class="text-secondary text-decoration-none px-2" href="https://github.com/kaluma-project/kaluma/discussions" target="_blank">Discussions</a>
    <a class="text-secondary text-decoration-none px-2" href="/ide">IDE</a>
    <a class="text-secondary text-decoration-none px-2" href="https://github.com/kaluma-project/kaluma" target="_blank">Github</a>
  </div>
</div>