<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.njk" %}
    <title>Kaluma</title>
  </head>
  <body>
    <div class="hero">
      <header>
        {% include "nav.njk" %}
      </header>
      <div class="container text-center my-5 pt-3">
        <h1 style="font-weight: 900">Kaluma</h1>
        <p class="mb-4" style="color: #666; font-size: 20px;">A tiny JavaScript runtime for RP2040 (Raspberry Pi Pico)</p>
      </div>
      <div class="text-center my-5">
        <a class="btn btn-primary btn-rounded" href="/docs/getting-started">Get Started</a>
        <span class="mx-1"></span>
        <a class="btn btn-outline-secondary btn-rounded" href="/download">Download</a>
      </div>
    </div>
    <main>
      <div class="container markdown-content my-5 front-content">
        {{ content | safe }}
      </div>
    </main>
    <div>
      {% include "footer.njk" %}
    </div>
  </body>
</html>