<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.njk" %}
    <title>Kaluma</title>
  </head>
  <body>
    <div class="hero">
      <header>
        {% include "nav.njk" %}
      </header>
      <div class="container text-center my-5">
        <h1 style="font-weight: 700">Kaluma</h1>
        <p style="color: #888; font-size: 18px;">A tiny JavaScript runtime for RP2040 (Raspberry Pi Pico)</p>
        <a class="btn btn-primary btn-rounded" href="#getting-started">Get Started</a>
        <span class="mx-1"></span>
        <a class="btn btn-outline-secondary btn-rounded" href="/download">Download</a>
      </div>
    </div>
    <main>
      <div class="container markdown-content my-5 front-content" style="max-width: 640px">
        {{ content | safe }}
      </div>
    </main>
    <div>
      {% include "footer.njk" %}
    </div>
  </body>
</html>