$font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
$font-mono: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
  Bitstream Vera Sans Mono, Courier New, monospace;
$bg-color: #000;
$border-color: #282828;
$text-color: #e6e6e6;
$widget-color: #888;
$primary: blue;

/* xterm */

@import "../../node_modules/xterm/css/xterm.css";

/* codemirror */

@import "../../node_modules/codemirror/lib/codemirror.css";
@import "../../node_modules/codemirror/addon/dialog/dialog.css";
@import "../../node_modules/codemirror/addon/lint/lint.css";
@import "../../node_modules/codemirror/addon/fold/foldgutter.css";
@import "../../node_modules/codemirror/addon/scroll/simplescrollbars.css";
@import "../../node_modules/codemirror/theme/monokai.css";

/* ide layout and styles */

$ide-header-height: 42px;
$ide-border: 1px solid $border-color;
$ide-section-head-height: 2rem;

main.ide {
  font-family: $font-sans;
  font-size: 0.75rem;
  background-color: $bg-color;
  color: $text-color;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  .btn {
    font-family: $font-sans;
    font-size: 0.75rem;
    padding: 0.15rem 0.7rem;
  }

  .btn-text {
    border: 0;
    background: transparent;
    color: $widget-color;
    outline: 0;

    &:hover {
      color: $text-color;
    }

    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }

  .editor-container {
    width: 100%;
    height: 100%;

    & > div.CodeMirror {
      width: 100%;
      height: 100%;
      font-family: $font-mono;
      background-color: $bg-color;

      .CodeMirror-gutters {
        background-color: $bg-color;
        // border-right: 1px solid #333;
      }

      .CodeMirror-code {
        .CodeMirror-gutter-wrapper {
          .CodeMirror-linenumber {
            opacity: 0.5;
          }
        }
      }

      .CodeMirror-activeline-background {
        background-color: lighten($bg-color, 5%);
      }
    }
  }

  div.CodeMirror-lint-tooltip {
    font-family: $font-sans !important;
    border-color: #eee;
  }

  header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: $ide-header-height;
    border-bottom: $ide-border;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;

    & > div {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .device {
      color: $primary;

      .vendor {
        font-size: 0.5rem;
        margin: 0px;
        padding: 0px;
        margin-top: -4px;
      }
    }
  }

  aside {
    position: absolute;
    left: 0;
    top: $ide-header-height;
    bottom: 0;
    width: 50%;
    border-right: $ide-border;

    .head {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: $ide-section-head-height;
      color: $widget-color;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .body {
      position: absolute;
      top: $ide-section-head-height;
      bottom: 0px;
      left: 0px;
      right: 0px;
      overflow: hidden;
    }
  }

  section {
    position: absolute;
    right: 0;
    top: $ide-header-height;
    bottom: 0;
    width: 50%;

    .head {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: $ide-section-head-height;
      color: $widget-color;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .body {
      position: absolute;
      top: $ide-section-head-height;
      bottom: 0px;
      left: 0px;
      right: 0px;

      .terminal-container {
        position: absolute;
        top: 0px;
        bottom: 0.3rem;
        left: 0.7rem;
        right: 0.7rem;
        overflow: hidden;

        & > .xterm {
          height: 100%;
        }
      }
    }
  }
}

/* loading spinner */

$lds-ring-color: #fff;

.lds-ring {
  display: inline-block;
  position: relative;
  width: 1rem;
  height: 1rem;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  margin: 2px;
  border: 2px solid $lds-ring-color;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $lds-ring-color transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
